@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');

h1{
    padding-left: 5%;
    padding-top: 3%;
    text-align: left;
    font-size: 40px;
    font-family: "Montserrat", "sans-serif";
    font-weight: lighter;
    color: var(--secondary_color);     
}