@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary_color);
}

:root{
    --text_color: #edf0f1;
    --primary_color: #181818;
    --primary2_color: #363636;
    --secondry_color: #0088a9;
}

li, a, button{
    font-family: "Montserrat", "san-serif";
    font-weight: 500;
    font-size: 16;
    color: var(--text_color);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--primary2_color);
}

footer {
    background-color: var(--primary_color);
    color: var(--text_color);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    vertical-align: middle;
    margin-left: -2%;
    height: 60px;
    width: 60px;
    background-color: #edf0f1;
}

.nav_links{
    list-style: none;
}

.nav_links[aria-current="page"]{
    text-decoration: underline wavy yellow 0.15rem;   
}

ul.nav_links li{
    background-color: var(--primary2_color);
}

ul.nav_links{
    background-color: var(--primary2_color);
}

.nav_links li{
    display: inline-block;
    padding: 0px 0px;
}

.nav_links li a{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

/*.nav_links li a:active{
    transition: all 0.3 ease 0s;
    padding: 6px 25px;
    background-color: rgb(2, 95, 118);
    color: #edf0f1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}*/

.nav_links li a:hover{
    color: var(--secondry_color);
}

button:hover{
    background-color: var(--secondry_color);
}


/*button{
    padding: 9px 25px;
    background-color: rgb(2, 95, 118);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}*/
