@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*{
    color: var(--text_color);
}

:root {
    --text_color: #edf0f1;
    --primary_color: #181818;
    --primary2_color: #363636;
    --secondry_color: #0088a9;
    --typewriterSpeed: 6s;
    --typewriterCharacters: 25;
  }

body {
    margin: 0;
    font-family: "Montserrat", "san-serif";
    min-height: 100vh;
    display: inline;
    place-content: space-around start;
    text-align: center;
    background: var(--primary_color);
    
  }
  
  .hero {
    height: 65vh;
    background: url('images/ChristmasStageDesign23.jpg') no-repeat center center/cover;
    margin-top: 7%;
    margin-bottom: 0%;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.hero-content {
    z-index: 1;
    padding-top: 13%;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.cta-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: var(--secondary_color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--primary2_color);
}

.cta-secondary {
    background-color: var(--primary2_color);
}

.cta-secondary:hover {
    background-color: var(--secondary_color);
}

.introduction {
  justify-content: flex-start;
  background-color: var(--primary_color);
  padding: 50px 0;
}

.intro-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.introduction h2 {
  font-size: 32px;
  color: var(--text_color);
  margin-bottom: 20px;
}

.introduction p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text2_color);
}

@media (max-width: 480px) {
  .hero-content h1 {
      font-size: 2em;
  }
  .hero-content p {
      font-size: 1em;
  }
  .cta-buttons {
      flex-direction: column;
  }
  .cta-button {
      padding: 10px 15px;
  }
}