@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: filter 0.3s ease;
}

#portfolio {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card.expanded {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body.blur {
    filter: blur(2px);
}

body.blur .project-card.expanded {
    filter: none;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: height 0.3s ease;
}

.project-card.expanded img {
    height: 400%;
}

.project-info {
    padding: 15px;
}

.project-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.project-info p {
    color: #666;
    margin-top: 10px;
}

.more-info {
    display: none;
}

.project-card.expanded .more-info {
    display: block;
    margin-top: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.project-card.expanded .close-btn {
    display: block;
}
