@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {
    --text_color: #edf0f1;
    --text2_color: #a0a0a0;
    --primary_color: #181818;
    --primary2_color: #363636;
    --secondary_color: #0088a9;
}

li, a, button {
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: var(--text_color);
    text-decoration: none;
}

header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--primary2_color);
    flex-wrap: wrap; /* Allow wrapping */
}

footer {
    background-color: var(--primary_color);
    color: var(--text_color);
    font-family: "Montserrat", "sans-serif";
    font-weight: lighter;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    height: 60px;
    width: 60px;
    background-color: #edf0f1;
}

.nav_links {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_links[aria-current="page"] {
    text-decoration: underline wavy yellow 0.15rem;
}

.nav_links li {
    margin: 0px 10px 0 0;
    background-color: var(--primary2_color);
    display: inline-block;
    padding: 0;
}

.nav_links li a {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav_links li a:hover {
    color: var(--secondary_color);
}

button:hover {
    background-color: var(--secondary_color);
}

.hamburger-menu {
    display: none; /* Hide the hamburger menu by default */
    font-size: 30px;
    cursor: pointer;
    color: var(--text_color);
    position: absolute; /* Use absolute positioning */
    top: 15px; /* Adjust this value as needed to position it from the top */
    right: 15px; /* Adjust this value as needed to position it from the right */
}

@media (max-width: 768px) {
    .nav_links {
        display: none; /* Hide the nav links by default */
        width: 100%;
        flex-direction: column; /* Vertical layout for navbar */
        align-items: flex-start;
    }
    .nav_links.show {
        display: flex; /* Show the nav links when the menu is active */
    }
    .nav_links li {
        width: 100%;
        text-align: left;
    }
    .nav_links li a {
        display: block;
        width: 100%;
        padding: 10px 15px;
    }
    .hamburger-menu {
        display: contents; /* Show the hamburger menu */
    }
}

@media (max-width: 480px) {
    .nav_links {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav_links.show {
        display: flex;
    }
    .nav_links li {
        width: 100%;
        text-align: left;
    }
    .nav_links li a {
        display: block;
        width: 100%;
        padding: 10px 15px;
    }
}
