@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');

h1{
    padding-left: 5%;
    padding-top: 3%;
    text-align: justify;
    font-size: 36px;
    font-family: "Montserrat", "san-serif";
    font-weight: lighter;
    color: var(--text_color);    
}

.services {
    padding: 50px;
    text-align: center;
}

.services h1 {
    font-size: 36px;
    margin-bottom: 50px;
    color: var(--secondary_color);
}

.service-tiers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tier {
    background-color: var(--primary2_color);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tier:hover {
    transform: translateY(-10px);
}

.tier h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--secondary_color);
}

.tier ul {
    list-style-type: none;
    padding: 0;
}

.tier ul li {
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid var(--text2_color);
}

.tier ul li:last-child {
    border-bottom: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .tier {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .tier {
        width: 100%;
    }
}