@import url('https://fonts.googleapis.com/css?family=Montserrat:500,');

body {
    font-family: Arial, sans-serif;
}

h1{
    color: var(--text_color);
}

.portfolio {
    display: flex;
    justify-content: center; /* Centering the cards horizontally */
    overflow-x: auto;
    padding: 20px;
}

.card {
    flex: 0 0 30%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}


.card img {
    width: 100%;
    height: 90%;
}

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
    color: #555;
}

.card:hover {
    transform: scale(1.05);
}
